{
  "extends": [
    "standard-react", "standard-with-typescript",
  ],
  "env": {
    "browser": true,
    "jest": true,
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "space-before-function-paren": ["error", "never"],
    "react/jsx-uses-vars": [2],
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "@typescript-eslint/indent": ["error", 2, {
      "offsetTernaryExpressions": false,
    }],
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "comma",
        "requireLast": true,
      },
      "singleline": {
        "delimiter": "comma",
        "requireLast": true,
      }
    }],
  },
  "plugins": [
    "standard", "promise", "import", "react", "testing-library",
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
  }
}
