@import 'styles/all.scss';

.Button {
  min-width: rem(30px);
  min-height: rem(30px);
  align-items: center;
  background-color: $color-primary-dark;
  border: rem(1px) solid rgba(0, 0, 0, 0.1);
  border-radius: rem(5px);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: rem(16px);
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;

  &:hover,
  &:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) rem(0 4px 12px);
    color: rgba(0, 0, 0, 0.65);
  }

  &:hover {
    transform: translateY(rem(-1px));
  }

  &:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) rem(0 2px 4px);
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
}
